<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BESMS</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="House Selling" />
        <meta name="keywords" content="House Selling" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/js/jquery.navi.js"></script>

    </head>
<body>
<div class="container">
	<div class="header">
        <a href="/" style="color:#FFF;width:100%;align:center">LOGO here</a>
        <span class="right">
            <a href="/login/index/logout">安全登出</a>
            <a href="#">
                {/$username/}
            </a>
            
        </span>
        <div class="clr"></div>
    </div>