{/include file="common/header.html"/}

    <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    
                    <!-- content start -->
                    <div class="lo-content">
                        <!-- NaviBar -->
                        {/$left_navi/}
                        <div class="list-container">
                        <!-- list start -->
                        	{/$index_list/}
                        
                        
                        <!-- list ends -->
                        </div>
                    </div>
                </div>
			</div>
                        
                        
                        
                        
</div>
{/include file="common/footer.html"/}